#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

PACKAGE 	= wmshutdown
PACKAGE2	= wmshutdown-run

include debian/debian-vars.mk
include /usr/share/dpatch/dpatch.make

MANSECT         = 1
MANPAGE1        = debian/$(PACKAGE).$(MANSECT)
MANPAGE2        = debian/$(PACKAGE2).$(MANSECT)
MK_MAN  	= pod2man.mk

man:
	# Commands to build manual pages
	$(MAKE) -C debian -f $(MK_MAN) PACKAGE=$(PACKAGE) \
	MANSECT=$(MANSECT) makeman

	$(MAKE) -C debian -f $(MK_MAN) PACKAGE=$(PACKAGE2) \
	MANSECT=$(MANSECT) makeman

.PHONY: man

build-stamp: man
	# target: build-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

build: patch build-stamp man

clean: unpatch
	# target: clean
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	rm -f wmshutdown-run wmshutdown
	[ ! -f Makefile ] || $(MAKE) clean

	rm -f debian/*.$(MANSECT)
	dh_prep

install: build
	# target: install
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Commands to install the package
	$(MAKE) dock shutdown

	$(MAKE) install DESTDIR=$(PKGDIR)

	chmod ug+s $(BINDIR)/$(PACKAGE2)

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	# target: binary-arch
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs README
#	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman debian/*.$(MANSECT)
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
