#!/usr/bin/make -f

PACKAGE		= wmshutdown
PACKAGE2	= wmshutdown-run

MANPAGE1	= debian/$(PACKAGE).$(MANSECT)
MANPAGE2	= debian/$(PACKAGE2).$(MANSECT)

include /usr/share/dpkg/buildflags.mk
CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed
export CFLAGS LDFLAGS

man:
	# Commands to build manual pages
	$(MAKE) -C debian -f pod2man.mk PACKAGE=$(PACKAGE) makeman
	$(MAKE) -C debian -f pod2man.mk PACKAGE=$(PACKAGE2) makeman

override_dh_auto_build: man
	dh_auto_build

%:
	dh $@

.PHONY: man

# End of file
